# vscode personal settings
.vscode/

# workdir, here are files created with cmake
build/

# dir with `tree` command outpur, needed for readme
project_struct/

# clangd cache. auto generated with clangd
.cache/

# logger output
log/

# start.sh analogue shell-script with personally logger settings
my_start.sh

# tmp files and some experiments with project
tmp

# shell script to run some test (need for debug)
run_test.sh
