[submodule "Src/third-party/logger"]
	path = Src/third-party/logger
	url = git@github.com:Maksim-Sebelev/logger.git
[submodule "Src/third-party/imgui"]
	path = Src/third-party/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Src/third-party/glad"]
	path = Src/third-party/glad
	url = https://github.com/Dav1dde/glad.git
