name: CI

on: [push, pull_request]

jobs:
  test:
    name: main test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get install -y cmake clang ninja-build libgtest-dev python3

    - name: build release version
      run: |
        bash start.sh
        cd build
        ninja build-tests

    - name: Run Tests
      run: |
        ctest

  test-3d:
    name: test with 3d tree dump
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get install -y cmake clang ninja-build libgtest-dev python3 libglfw3-dev libgl1-mesa-dev build-essential

    - name: build release version with 3d-dumo
      run: |
        bash start.sh 3d-dump
        cd build
        ninja build-tests

    - name: Run Tests
      run: |
        ctest

  test-debug:
    name: test with debug options
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      run: sudo apt-get install -y cmake clang ninja-build libgtest-dev python3 graphviz libglfw3-dev libgl1-mesa-dev build-essential

    - name: build with debug options
      run: |
        bash debug_start.sh
        cd build
        ninja build-tests

    - name: Run tests
      run: |
        ctest
